html,body {
    height: 100%;
    width: 100%;
    overflow:hidden;
    padding: 0px 0px 0px 0px !important;
    background-color: peachPuff;
}

.top {
    height: 10%;
    width: 100%;
    overflow:hidden;
    padding: 0px 0px 0px 0px !important;
    background-color: peachPuff;    
}

.top .title {
font-size: 20px;
margin: 10px 6px 0px 6px;
color: #806955;
}

.main {
    height: 90%;
    width: 100%;
    overflow:hidden;
    padding: 0px 0px 0px 0px !important;
    background-color: peachPuff;
}


#video {
    height: 100%;
    width: 84%;
    float: left;
}

#video iframe{
    width: 100%;
    height: 100%;
}

.jcont {
    width: 13%;
    float: left;
    height:100%;
    margin-left:5px;
}

.mycarousel {
float: left;
position: relative;
overflow-y: hidden;
height: 100%;
width: 100%;
overflow-x: hidden;
}

ul.playlist li img{
height: 25%;
border-radius: 199px;
box-shadow: 0px 0px 10px 1px;
opacity: 0.7;
}

ul.playlist li.selected img {
    box-shadow: red 0px 0px 10px 1px;
}

.mycarousel ul { 
/*     position: absolute; */
     list-style: none; 
     margin: 0px !important; 
     padding: 0; 
background-color: transparent;
 } 


.mycarousel li img:hover, .mycarousel li.selected img{
    opacity: 1;
}

.mycarousel li {
    border-radius: 199px;
    margin: 8px 2px 8px 2px;
    background-color:black;
}